</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <%if(locals.currentYear){%>
    <p>Copyright © <%=currentYear%> </p>
  <%}else{ %>
    <p>Copyright © </p>
  <%}%>
 
</footer>
</body>

</html>